/* Custom Login page styles */
.login-container {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ),
      url("https://imgs.search.brave.com/yHpm5ax94Crl4_xUIOfs7AVAbEd8j0hKvos0cGYsF-Y/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/ZnJlZS1waG90by9h/YnN0cmFjdC1iYWNr/Z3JvdW5kLXdpdGgt/cmVkLWxpbmVzXzEz/NjEtMzUzMS5qcGc_/c2l6ZT02MjYmZXh0/PWpwZw"); /* Add your background image */
    background-size: cover;
    background-position: center;
  }
  
  .form-container {
    width: 25%;
    background-color: rgba(255, 255, 255, 0.85); /* Transparent white background for the form */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Shadow effect */
  }
  
  .logo-img {
    width: 100px; /* Adjust logo size */
  }
  
  h2 {
    color: #007bff; /* Heading color */
  }
  
  .form-label {
    color: #333; /* Label color */
  }
  
  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
  }
  
  .btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }
  
  /* Responsiveness */
  @media (max-width: 768px) {
    .form-container {
      width: 80%; /* Adjust form width for smaller screens */
    }
  }